.venv/
.vscode/
.idea/
__pycache__/

db/
data/

**/*_sqlstorm_*
test/**/*.csv
SQLStorm/
benchmarks/gendba_pool/queries*
gendba_pipeline/output/*/work/
pipeline/output/**
!pipeline/output/**/
!pipeline/output/**/*.jsonl
benchmarks/job/queries_spj_v1
benchmarks/job/queries_spj_v2
